@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #636363;
}

* {
  box-sizing: border-box;
}

.main {
    font-family: Raleway;
    color: #333;
    overflow: hidden;
    font-size: 14px;
    padding: 10px;
    margin: 0 auto;
    .title-content {
        width: 70%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .container {
        width: 70%;
        margin: 0 auto;
        #input {
            margin-bottom: 10px;
            width: 100%;
            display: block;
            margin: 0 auto;
            border-color: #078600;
            resize: vertical;
        }
        .website {
          display: none;
          margin-top: 5px;
          a {
            text-decoration: none;
          }
        }
        .output-wrap {
            margin-top: 30px;
            .example {
                float: left;
                background: #fdf6e3;
                border: 1px solid rgba(0, 0, 0, 0.15);
                width: 60%;
                height: 270px;
                padding: 20px;
                box-sizing: border-box;
                .item1 {
                    font-weight: bold;
                }
                .item2 {
                    margin: 10px;
                    color: #f26444;
                }
            }
            ul {
                float: right;
                padding: 0;
                li {
                    list-style: none;
                    margin-bottom: 10px;
                    span {
                        display: inline-block;
                        margin-right: 10px;
                        width: 34px;
                        height: 14px;
                        border: 1px solid #333;
                        vertical-align: middle
                    }
                    label {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main {
        .container {
            .output-wrap {
                .example {
                    float: none;
                    width: 100%;
                    margin-bottom: 30px;
                    height: 200px;
                }
                ul {
                    float: none;
                    width: 100%;
                }
            }
        }
    }
}


/**
 * for chrome extension
 */

body {
    width: 400px;
    .main {
        width: 100%;
    }
    .main {
        .title-content {
            display: none;
        }
        .container {
            width: 100%;
            #input {
                height: 54px;
            }
            .website {
              display: block;
              text-align: right;
            }
            .output-wrap {
                margin-top: 10px;
                .example {
                    display: none;
                }
                ul {
                    float: none;
                }
            }
        }
    }
}


/**
 * svg text animate
 */

/* Main stuff */
.text--transparent {
    fill: transparent;
}
.anim-shape {
    -webkit-transform-origin: 0x 150px;
    transform-origin: 0x 150px;
    -webkit-transform: scale(0, 1) translate(0, 0);
    transform: scale(0, 1) translate(0, 0);
    -webkit-animation: moving-panel 3s forwards;
    animation: moving-panel 3s forwards;
}
.colortext .anim-shape:nth-child(1) {
    fill: #0e1826;
}
.colortext .anim-shape:nth-child(2) {
    fill: #166973;
}
.colortext .anim-shape:nth-child(3) {
    fill: #65bfa6;
}
.colortext .anim-shape:nth-child(4) {
    fill: #f2cd5c;
}
.colortext .anim-shape:nth-child(5) {
    fill: #f26444;
}
.shadow {
    -webkit-transform: translate(6px, 6px);
    transform: translate(6px, 6px);
}
.anim-shape--shadow {
    fill: #000;
    fill-opacity: 0.2;
}
@-webkit-keyframes moving-panel {
    100% {
        -webkit-transform: scale(1, 1) translate(20px, 0);
        transform: scale(1, 1) translate(20px, 0);
    }
}
@keyframes moving-panel {
    100% {
        -webkit-transform: scale(1, 1) translate(20px, 0);
        transform: scale(1, 1) translate(20px, 0);
    }
}

/* Other stuff */
body {
    background: #eee;
}
.title-content {
    margin-top: 40px;
    margin-bottom: 20px;
    font: 800 4.5em 'Raleway', Impact;
}
svg {
    display: block;
    text-transform: uppercase;
}

/*# sourceMappingURL=style17.css.map */